* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  font-family: "Work Sans", sans-serif;
}

.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  background-color: #ff42a5;
  padding: 20px 40px;
  border: none;
  text-align: center;
}

.secondary {
  background-color: #4ec5f7;
  margin-left: 1rem;
}

.youtube {
  color: red;
}


.container {
  width: 1200px;
  margin: auto;
 
} 

/* Common_Css_End================== */

/* NavBar_Section_Start------------ */

nav {
  padding: 2rem 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_logo {
  width: 25%;
  display: flex;
  align-items: center;
}
.Header_logo p {
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 20px;
}

.Header_logo span {
  color: #ff42a5;
}

.Header_logo img {
  object-fit: cover;
}

.menu_item {
  width: 75%;
}

.menu_item ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu_item ul li {
  margin-left: 2rem;
}
.menu_item ul li a {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu_item ul li a button {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 24px;
  border: none;
}

.menu_item ul li a button i {
  margin: 0px 5px;
}

/* NavBar_Section_End================ */

/* Main_banner_section_start------------- */
#Main_banners {
  margin-top: 70px;
  background-color: #fff;
}

#Main_banners .main_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content h1 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner_content h2 {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #f948b2;
  margin-bottom: 0rem;
}

.banner_content p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0rem;
}


/* Main_banner_section_End=========== */

/* Gammer_banner_start----------- */
#Gammer_Banners {
  padding: 100px 0px;
  background-color: #fff;
}

.gammer_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gammer_img {
  width: 680px;
}

.gammer_text {
  text-align: right;
}

.gammer_text h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #f948b2;
  margin-top: 1rem;
}

.gammer_text p {
  color: #534c64;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 30px;
  width: 520px;
  margin-top: 0.5rem;
}

.gammer_quote {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 700;
}
.purpose {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
}

.gammer_btn {
  margin-top: 0.5rem;
}

/* Gammer_banner_End============== */
/* Funny_Videos_Start------------ */

#Funny_Videos {
  margin-top: 3rem;
  background-color: #fff;
  margin-bottom: 50px;
}
.online_title {
  text-align: center;
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}

#Funny_Videos span {
  color: #f948b2;
}

.small_title {
  text-align: center;
  color: #534c64;

  font-size: 1.12rem;
  font-weight: 400;
  margin-top: 1rem;
}

.funny_video {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.funny_card {
  width: 282px;
}

.funny_card img {
  width: 100%;
  margin-top: 3rem;
}

.funny_card .funny_img {
  position: relative;
}

.funny_card .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 87%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transition: 0.4s;
}

.funny_img:hover .overlay {
  transform: scale(1);
  margin-top: 3rem
}

.funny_card .overlay a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.funny_card .overlay .click {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ff42a5;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.funny_card .overlay a i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.card_description {
  width: 280px;
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}

/* Funny_Videos_End=============== */

/* Instantly_Section_start-------- */

#instant {
  padding: 100px 0px;

}

.instantly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instant_title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
}

.instant_title span {
  color: #f948b2;
}

.instant_description {
  color: #534c64;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 30px;
  width: 353px;
  margin-top: 0.5rem;
}

.img_content {
  position: relative;
}

.second_img {
  width: 280px;
  height: 300px;
  position: absolute;
  top: 57%;
  left: -22%;
}

.second_img img {
  width: 100%;
  height: 100%;
}

/* Instantly_Section_End=========== */

/* Game_Section_Start--------- */
#Game {
  margin-top: 100px;
  margin-bottom: 50px;
}

.game_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.game {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 2px;
  border-radius: 50px;
  margin: 15px 5px;
  transition: 0.4s;
}

.game a {
  color: #0b0223;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

.game_container .game:hover {
  border: 2px solid #f948b2;
}

.game_container .game a:hover {
  color: red;
}

/* Game_section_End============ */

/* Footer_Section_Start---------- */

#Footer{
  margin-top: 100px;
  text-align: center;
}

.Footer_container{
  background-color: #0b0223;
  padding: 100px 0px;
}


#Footer .logo{
  display: flex;
  justify-content: center;
  align-items: center;

}

#Footer .logo p{
text-align: center;
font-size: 3rem;
font-weight: 700;
margin-left: 10px;
color: white;

}

#Footer .logo p span{
  color: #f948b2;
}

.menu_items{
  margin-top: 3rem;
  text-align: center;
}

.menu_items a{
  margin:0px 20px; 
  color: #FFF;
font-size: 18px;
font-weight: 600;
}

.social_icon{
  margin-top: 2rem;
  text-align: center;
}

.social_icon a{
  margin: 0px 20px;
}

.social_icon a i{
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  background-color: white;
  transition: 0.4s;
}

.social_icon a i:hover{
  background-color: #f948b2;
}

.Tearm_conditon{
  margin-top: 2rem;
  text-align: center;
}

.Tearm_conditon a{
  color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-style: normal;
font-weight: 500;
margin: 0px 20px;
}

.copyright{
  margin-top: 2rem;
  text-align: center;
}

.copyright p{
  color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}

/* Footer_Section_End======== */

/* Responsive_Mobile_Device_Start------- */
@media screen and (max-width: 576px) {


  .header, .menu_item ul, .gammer_banner, .instantly{
    flex-direction: column;
  }

  .menu_item {
    margin-top: 1rem;
  }

  .menu_item ul li {
    margin: 1rem 0rem;
  }

  #Main_banners .main_banner {
    flex-direction: column-reverse;
  }

  .banner_content {
    margin-top: 6rem;
  }

  .gammer_text {
    margin-top: 3rem;
  }

  .funny_video {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }

  .funny_card {
    margin: auto;
  }

  .img_content {
    margin-top: 6rem;
  }

  .game_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .game {
    margin: 2rem auto;
  }

  .menu_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .social_icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .Tearm_conditon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .Footer_container{
    width: 1200px;
    margin: auto;
  }


}

/* Responsive_Mobile_Device_End========== */

/* Responsive_Medium_Device_Start-------- */

@media screen and (min-width: 577px) and (max-width: 960px) {


  .header, .gammer_banner, .instantly {
    flex-direction: column;
  }

  .menu_item ul {
    justify-content: center;
  }

  .menu_item ul li {
    padding: 0px 20px;
  }

  .menu_item {
    margin-top: 1rem;
  }

  .menu_item ul li {
    margin: 1rem 0rem;
  }

  #Main_banners .main_banner {
    flex-direction: column-reverse;
  }

  .banner_content {
    margin-top: 4rem;
  }

  .gammer_text {
    margin-top: 3rem;
  }

  .funny_video {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .funny_card {
    margin: auto;
  }

  .img_content {
    margin-top: 6rem;
  }

  .game_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .game {
    margin: 2rem auto;
  }

  .menu_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .social_icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .Tearm_conditon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .Footer_container{
    width: 1200px;
    margin: auto;
  }



}

/* Responsive_Medium_Device_End========== */
